<footer class="footer pt-3  ">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-10 mb-lg-0 mb-4">
          <div class="copyright text-center text-sm text-muted text-lg-start">
            &copy; Created by <span><a href="https://www.linkedin.com/in/farhanadit14/" target="_blank">Muhammad Farhan Aditama</a></span> as Machine Learning Engineer Internship at Techad Technology. 
          </div>
        </div>
      </div>
    </div>
  </footer>
  